RewriteEngine on

RewriteRule ^config.inc$  / [F]
RewriteRule ^api  / [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{THE_REQUEST} !^[A-Z]+\ /layout
RewriteRule ^([0-9A-Za-z_/\-\.\s\!\|]+)$   /index.php?command=$1 [L,QSA]
