html {
    margin:0px 20px;
    padding:0px;
    background:#000 url(images/background.png) no-repeat top center;
    color:#fff;
    font-family:sans-serif;
}

body {
    min-width:900px;
    margin-left:auto;
    margin-right:auto;
}

h2 {
    border-bottom: 2px solid #fff;
}

ul#files {
    margin:0px;
    padding:0px;
    list-style:none;
}

#files li {
    cursor:pointer;
    padding:5px;
}

#files li.active {
    background:#fff;
    color:#000;
}

#doc {
    float:right;
    width:70%;
    border-left:2px solid #fff;
    padding-left:20px;
    background:#000;
}

#api_keys {
    width:100%;
    margin-top:20px;
}

#api_keys th {
    text-align:left;
    border-bottom:2px solid #fff;
}

#api_keys .odd td {
    background:#222;
    vertical-align:top;
    padding:5px;
}

#api_keys .even td {
    background:#111;
    vertical-align:top;
    padding:5px;
}

#api_keys .revoked {
    text-decoration: line-through;
}

#api_keys .disabled {
    color:#f00;
}
